ciphertext integrity is not guaranteed

### Please confirm:

- [x] I have read and agree to the rules

### Describe the issue briefly in a few sentences:

Hi, reading over the code for a cursory glance reveals that the nonce is not authenticated anywhere as in a good aead scheme. This allows an attacker to modify the decrypted plaintext without you being the wiser, and ideally this would be a security vulnerability.

I think you're right, the header is not authenticated. But if you modify the nonce, the decrypted data will not pass the BLAKE2b/SHA-3 auth tag and Picocrypt by default will delete it to prevent the user from interacting with it.

> the decrypted data will not pass the BLAKE2b/SHA-3 auth tag
I'm not sure how it would, since the MAC is computed over the ciphertext.

Double negative? My brain is not in the most clear state right now lol.

Okay that makes sense. Yes, you're right, you can modify the nonce but the MAC will still pass. I haven't read the code in a while so it's not exactly fresh in my mind.

I know this is not exactly a strong argument, but what are the chances an attacker will find a nonce such that the decrypted data just happens to become malicious?

The solution here would be to authenticate the header but this would require header format changes.

>  what are the chances an attacker will find a nonce such that the decrypted data just happens to become malicious?

I'm not sure what you mean, but this completely breaks semantic security under CCA—if an attacker can modify the file and have it decrypt successfully to another plaintext, it is insecure. This is pretty for users since they don't receive any indication that their file is corrupted until after it successfully decrypts, which should never happen with an AEAD scheme.


Keystream depends on the nonce. Changing just one bit of the nonce leads to the generation of a completely different keystream and ciphertext, and the MAC tag verification will fail.

>This is quite problematic for users, as they do not receive any indication that their file is corrupted until it has been successfully decrypted.

Releasing unverified plaintext is another issue. This was mentioned in the [security audit report](https://github.com/Picocrypt/storage/blob/1d7d91e1b27087cda6da1979e50831e95e1c9d6f/Picocrypt.Audit.Report.pdf) (PCC-004).

> Keystream depends on the nonce.

Yes.

>  Changing just one bit of the nonce leads to the generation of a completely different keystream and ciphertext

This happens in the encryption scenario, yes. But since this construction [derives the HMAC key from the encryption key rather than the output of the keystream](https://github.com/Picocrypt/Picocrypt/blob/main/src/Picocrypt.go#L1675-L1683
), the MAC cannot detect such a modification.

My two cents: use a proper AEAD, like ChaCha20-Poly1305. It prevents this scenario entirely, c.f., RFC 7539, [§2.6](https://datatracker.ietf.org/doc/html/rfc7539#section-2.6)

I used to use XChaCha20-Poly1305 but I recall something about "partitioning oracle attacks" and "key commitment" issues with that combination so I split it up and used a (H)MAC instead. To be honest, I don't know what these issues are exactly though, just that using Blake2b/HMAC-SHA3 should solve the issue, but I suppose adding this nonce issue of its own.

https://crypto.stackexchange.com/questions/88716/understanding-the-impact-of-partitioning-oracle-attacks-on-stream-ciphers

Realistically I don't consider it to be a concern. It's unlikely that changing a nonce will create any malicious plaintext when the ciphertext can't be modified due to auth tag, and users would just get invalid file formats at worst. Could it be fixed/improved? Yes, definitely, but I don't think it's a big enough issue to be a reason to change the header format or code.

>  To be honest, I don't know what these issues are

I don't even know what to say, but rolling your own cryptography format in part due to attacks you don't understand while introducing more attacks is a little scary. 

> just that using Blake2b/HMAC-SHA3 should solve the issue

I'm not sure that it would or that key commitment attacks are relevant to Picocrypt. Further: it's a lot easier to break ciphertext integrity via changing the nonce than it is to find another key that does the same.

> Realistically I don't consider it to be a concern.

Then consider putting up a notice in your README that says something along the lines of "users' backups can be modified even if decryption succeeds." Authenticated encryption is table stakes for this application; key committing AEAD isn't. I'd encourage you to treat this as a serious vulnerability and something to be fixed.

>  It's unlikely that changing a nonce will create any malicious plaintext

What do you mean by malicious?

Ah this would be very annoying to change, I'd have to go update CLI, Web, Web-SFX, and PicoGo accordingly. Okay, never mind then. I'm going to let this pass because (**for anyone reading, tl;dr**):

**The unauthenticated nonce can cause the decrypted plaintext to be different without being caught by Picocrypt, but not in any way that allows intentional or malicious modification; at most, the decrypted plaintext will look like gibberish, similar to if you used the wrong encryption key. Confidentiality was never affected, and while integrity is not perfect, it still protects against any malicious changes. Nothing bad can happen other than getting a decrypted output that looks like random bytes.**

> No, rolling my own crypto would be making custom ciphers and implementations of stuff.

You do this now.

> What are the chances changing a nonce will cause the decrypted file to become a virus?

I don't think that's the concern here. If an attacker manages to get multiple ciphertexts (call them C1 and C2), with nonces (n1 and n2), and they obtain a decryption of C1 with nonce n2 (because of this issue), **they can decrypt C2**. This should *never* be possible and is a catastrophic issue. No AEAD scheme will ever have this issue by design.

Impossible, the Argon2 salt

If you can come up with a real, computationally feasible scenario where damage can be done due to an unauthenticated nonce, then I invite you to reopen this issue. But otherwise, all issues are like saying you can pick two atoms in the universe and they'd be the same... possible in theory, impossible in practice.

> and they obtain a decryption of C1 with nonce n2 (because of this issue)

Besides, if an attacker has access to a user's decrypted files, no amount of crypto is going to save you. This is silly.